# Dependencies
node_modules/
vendor/
.venv/
venv/

# Env
.env
.env.local

# Build / IDE
dist/
build/
.idea/
*.log
*.egg-info/
__pycache__/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
*.pyc

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
.tfvars
